html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section, header {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 2px;
}

h1>img {
  vertical-align: middle;
}

ul {
  padding: 0;
  list-style: none;
}

#mapapp {
  margin: 0px 10px;
  height: 100%;
}

/*
    Found no other way to get rid of scrollbars in the map.
    Have to calculate the height in css or javascript
*/
header {
  height: 112px;
  line-height: 112px;
}

#search-with-map {
  height: calc(100% - 112px);
}

.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

#filter-pane {
  height: 100%;
  width: 25%;
  max-width: 25%;
}

#filter-row {
  height: 20px;
}

#filter-field {
  width: 100%;
}

#locations {
  padding-right: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 20px);
}

#map {
  width: 100%;
  height: 100%;
}

.place-item:hover {
  background-color: AliceBlue;
  cursor: pointer;
}

.place-item {
  padding: 10px 0px;
}

.place-title {
  width: 100%;
  font-weight: bold;
}

.place-info {
  width: 250px;
  overflow: hidden;
}

.yelp-data {
  padding: 5px;
  background-color: aliceblue;
  font-style: italic;
  width: 100%;
}

.yelp-image {
  padding-left: 10px;
}

.highlight {
  background-color: yellow;
}

@media screen and (max-width: 760px) {
    #filter-pane {
        position: absolute;
        z-index: 100;
        background-color: rgba(255,255,255,0.5);
        height: 50%;
        top: 10px;
        right: 10px;
    }
}

@media screen and (max-width: 400px) {
  #filter-pane {
    height: initial;
  }
  #locations {
    display: none;
  }
}


@media screen and (max-width: 850px) {
  header {
    display: none;
  }
  #search-with-map {
    height: 100%;
  }
}

@media screen and (max-width: 1400px) {
  #mapapp {
    margin: 0;
  }
 .place-photo {
    display: none;
 } 
}