@CHARSET "utf-8";
@import url(https://fonts.googleapis.com/css?family=Work+Sans:100);
@import url(https://fonts.googleapis.com/css?family=Raleway:500);

* {
/*	outline: black dotted 1px !important; */
}

body {
	background-color: white;
}

.ulogo {
	display: block;
	width: 100px;
	height: 100px;
}

.main-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 680px;
}

.row {
	display: flex;
}

.spring-to-edges {
	/* this way all free space fills between the logo and the designer 
		name div making them aligned to the left and right respectively */
	justify-content: space-between;
}

.author {
	color: #666756;
	text-transform: uppercase;
	text-align: right;
}

.author h1 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
	font-size: 3em; 
	margin: 5 0 10 0;
}

.author p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin: 0;
}

.separator {
	height: 3px;
	width: 100%;
	background-color: #BCBBBB;
	border-color: #BCBBBB;
	border-style: solid;
	border-radius: 3px;
}

.teaser-image {
	/* TODO - remove this div from the view completely when in mobile mode */
	height: 290px;
	overflow: hidden;
}

.teaser-image>img {
	width: 680px;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #BCBBBB;
	text-indent: .5em;
	margin: 20 0 5 0;
	text-transform: capitalize;
}

.works {
	color: #747704
}

.works ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
}

.works li {
	list-style-type: none;
	text-align: center;
}

.works li:hover {
	background-color: #D2D4F0;
}

.works a {
	color: #666756;
	margin: 0;
	text-decoration: none;
}

.works p {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.75em;
	text-transform: uppercase;
	margin: 3 0 3 0;
}

.works img {
	height: 150px;
}

.works a::after {
	content: attr(href);
	font-family: 'Work Sans', sans-serif;
	font-size: .75em;
}