@CHARSET "utf-8";

* {
	outline: black dotted 1px !important;
}

body {
	background-color: white;
}

.main-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 680px;
}

.row {
	display: flex;
}

.spring-to-edges {
	/* this way all free space fills between the logo and the designer 
		name div making them aligned to the left and right respectively */
	justify-content: space-between;
}

.author {
	color: #747704;
	text-transform: uppercase;
	text-align: right;
}

.teaser-separator {
	height: 3px;
	width: 100%;
	background-color: #BCBBBB;
	border-color: #BCBBBB;
	border-style: solid;
	border-radius: 3px;
}

.teaser>div {
	/* TODO - remove this div from the view completely when in mobile mode */
	
}

.teaser-image>img {
	width: 680px;
}

h2 {
	color: #BCBBBB;
	text-indent: .5em;
	margin: 20 0 0 0;
	text-transform: capitalize;
}

.works {
	color: #747704
}

.works ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
}

.works li {
	list-style-type: none;
}

.works a {
	color: #747704;
	text-align: center;
	margin: 0;
	text-decoration: none;
}

.works p {
	text-transform: uppercase;
}

.crop {
	width: 200px;
	height: 150px;
	overflow: hidden;
}

.crop img {
	
}

a::after {
	content: attr(href);
	text-align: center;
	margin-right: 0px;
	font-size: .7em;
}