@CHARSET "utf-8";

@import url(https://fonts.googleapis.com/css?family=Work+Sans:100,400);

body {
  background-color: white;
  font-family: 'Work Sans', sans-serif;
}

.ulogo {
  margin-top: 20px;
}

.author-motto {
  font-weight: 400;
  font-size: 1.75em;
  margin: 3px 0 3px 0;
}

h1 {
  font-weight: 100;
  font-size: 4.5em;
  margin: 5px 0 10px 0;
}

h2 {
  font-weight: 400;
  color: #bcbbbb;
  text-transform: capitalize;
}

.link-source {
  font-size: 1em;
  font-weight: 400;
}

hr {
  border-width: 3px;
}

a {
  color: #bcbbbb;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 3em;
  };
} 