html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

body {
	margin: 0px 10px;
}

section, header {
  margin: 0;
  padding: 0;
}

#application {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#application > section {
	flex: 1;
}

#day {
	margin-bottom: 1em;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 2px;
}

.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.hidden {
	display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.screen {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
}

#setup input {
	margin-top: 10px;
	width: 99%;
}

.error {
	color : red;
}

.autocomplete-results {
	
}