html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
	margin: 0px 10px;
}

section, header {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 2px;
}

.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.hidden {
	display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.screen {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
}

#setup input {
	margin-top: 10px;
	width: 99%;
}